* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.wrappergenerale {
  width: 85%;
  margin: 0 auto;
}

#wrappercolore {
  background-color: rgb(244, 248, 250);
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

#headersuperiore {
  background-color: #33475b;
  padding: 15px 0;
  margin: 0 auto;
}

.colonnasinistra {
  float: left;
  width: 40%;
  text-align: center;
}

.colonnasxheadersup img {
  width: 20px;
  margin-right: 20px;
}

.colonnasxheadersup span {
  color: white;
  padding: 0 10px;
  font-size: 14px;
}

.colonnadestra {
  float: right;
  width: 40%;
  text-align: center;
}

.colonnadxheadersup i {
  font-size: 20px;
  margin: 0 10px;
}

.colonnadxheadersup hr {
  width: 1px;
  height: 20px;
  display: inline;
}

.fa-user {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 5px;
}

.colonnadxheadersup span {
  color: white;
  padding: 0 10px;
  font-size: 14px;
  margin: 0 10px;
}

/* ****** HEADER CENTRALE ******/
#headercentrale {
  background-color: rgb(226, 226, 226);
  background-size: cover;
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

.colonnasxheadercen p {
  float: left;
  padding: 0 10px;
}

.colonnasxheadercen i {
  font-size: 20px;
  float: left;
}

.colonnasxheadercen hr {
  width: 1px;
  height: 20px;
  float: left;
}

.colonnadxheadercen i {
  font-size: 20px;
}

.colonnadxheadercen a {
  padding: 10px 10px;
  background-color: rgb(255, 122, 89);
  text-decoration: none;
  color: white;
  border: 1px solid black;
}

/* ****** HEADER INFERIORE ***** */
#headerinferiore {
  background-color: white;
  text-align: center;
  padding: 30px 0;
}

.colonnasxheaderinf img {
  float: left;
}

.colonnadxheaderinf span {
  padding: 0 10px;
}

/* ***** PRIMA SEZIONE ***** */
#primasezione {
  background: url(img/background.jpg) no-repeat;
  background-size: cover;
  text-align: left;
  padding: 20px 0 180px 0;
  color: white;
  border-bottom: 5px solid black;
}

#primasezione h1 {
  font-size: 60px;
  width: 40%;
  padding-top: 70px;
}

#primasezione p {
  padding-top: 40px;
  width: 40%;
  line-height: 26px;
}

#primasezione button {
  padding: 20px 40px;
  margin-top: 10px;
}

/* ******** SECONDA SEZIONE *******  */
#secondasezione {
  text-align: center;
  padding: 50px 0;
}

#secondasezione img {
  width: 260px;
}

#secondasezione h2 {
  font-size: 36px;
  margin: 30px 0;
}

#secondasezione p {
  width: 70%;
  margin: 0 15%;
}

/* ****** TERZA SEZIONE ****** */
#terzasezione {
  background-color: white;
  width: 85%;
  margin: 10px 7.5%;
  padding: 30px 10px;
}

#terzasezione img {
  width: 100%;
  height: 200px;
}

#bottonearancio {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(255, 122, 89);
  color: white;
}

.colonnadxterzasezione {
  text-align: left;
  width: 55%;
}

.colonnadxterzasezione h3 {
  padding: 10px 0;
}

.colonnadxterzasezione p {
  padding: 10px 0;
}

.colonnadxterzasezione h4 {
  padding: 10px 0;
}

.colonnadxterzasezione ul {
  list-style: none;
}

.colonnadxterzasezione ul li {
  display: inline-block;
}

.colonnadxterzasezione a {
  text-decoration: none;
  color: black;
}

.colonnadxterzasezione i {
  color: rgb(255, 122, 89);
  margin: 0 10px 0 15px;
}

/* ******* QUARTA SEZIONE ****** */
#quartasezione {
  text-align: left;
  margin: 30px 0;
}

#quartasezione img {
  width: 100%;
  height: 150px;
}

#quartasezione h3 {
  text-align: center;
  padding: 20px 0;
}

#quartasezione hr {
  margin: 20px 0;
}

.quartacolonnasx {
  width: 30%;
  float: left;
  background-color: white;
  padding: 60px 40px;
  margin: 0 2.5% 0 auto;
}

.quartacolonnacen {
  width: 30%;
  float: left;
  background-color: white;
  padding: 60px 40px;
  margin: 0 2.5%;
}

.quartacolonnadx {
  width: 30%;
  float: left;
  background-color: white;
  padding: 60px 40px;
  margin: 0 auto 0 2.5%;
}

#quartasezione h4 {
  text-align: center;
}

#quartasezione ul {
  list-style-type: none;
}

#quartasezione ul li {
  margin: 20px 0;
}

#quartasezione i {
  margin: 0 10px 0 0;
  color: rgb(255, 122, 89);
}

/* ******* QUINTA SEZIONE ****** */
#quintasezione {
  background: linear-gradient(to right, #00a7b9, #00b8ab);
  color: white;
  text-align: center;
  padding: 30px 0;
  margin: 30px 0;
}

#quintasezione img {
  height: 40px;
  margin: 0 0 10px 0;
}

#quintaprimopezzo {
  width: 70%;
  margin: 0 auto;
}

#quintaprimopezzo h1 {
  margin: 20px 0;
}

#quintaprimopezzo p {
  margin: 0 0 50px 0;
}

#quintasecondopezzo {
  margin: 50px 0;
}

#primocontenitoresopra {
  float: left;
  width: 25%;
  border-bottom: 1px solid white;
  padding: 30px 0;
}

.contenitoresopra {
  float: left;
  width: 25%;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  padding: 30px 0;
}

#primocontenitoresotto {
  float: left;
  width: 25%;
  padding: 30px 0;
}

.contenitoresotto {
  float: left;
  width: 25%;
  border-left: 1px solid white;
  padding: 30px 0;
}

/* ******* SESTA SEZIONE ******* */
#sestasezione {
  margin: 150px 0;
}

.contenitoreprimopezzo {
  float: left;
  width: 50%;
}

#sestasezione img {
  width: 15%;
  height: auto;
  float: left;
  margin: 20px 5%;
}

.sestasecondopezzo {
  float: left;
  width: 50%;
  margin: 180px 0;
}

.sestasecondopezzo h1 {
  line-height: 50px;
  width: 80%;
  margin-bottom: 40px;
}

.sestasecondopezzo p {
  width: 80%;
  margin-bottom: 30px;
}

#sestasecondopezzocontenitoreimg {
  float: left;
  width: 50%;
  margin: 160px 0 0 0;
}

#sestasecondopezzocontenitoreimg img {
  width: 300px;
  border-radius: 50%;
  background-color: rgb(242, 84, 125);
}

/* *************** FOOTER *************** */
footer {
  background: rgb(51, 71, 91);
  padding: 30px 0;
  color: lightgray;
}

.colonnafooter {
  width: 25%;
  float: left;
}

.colonnafooter ul {
  list-style-type: none;
  width: 80%;
  text-align: justify;
}

.colonnafooter ul li {
  margin: 15px auto;
}

.colonnafooter h4 {
  color: white;
  padding: 20px 0;
  margin: 10px auto;
}

.colonnafooter a {
  text-decoration: none;
  color: lightgrey;
}

.colonnafooter a:hover {
  color: #0091ae;
}

#listasocial {
  width: 25%;
  float: right;
}

#listasocial button {
  padding: 10px 20px;
  border-radius: 10px;
}

#listasocial ul {
  list-style-type: none;
}

#listasocial i {
  display: inline;
  float: left;
  font-size: 24px;
  margin: 20px 15px;
  color: lightgrey;
}

#listasocial i:hover {
  color: #0091ae;
}

/******************** FOOTER SOTTO PRIMA PARTE ***************/
#footerfinaleprimaparte {
  text-align: center;
  margin-top: 50px;
}

#footerfinaleprimaparte p {
  text-align: center;
  display: inline;
  padding: 0 40px;
}

#footerfinaleprimaparte hr {
  margin: 30px 0 10px 0;
}

/******************** FOOTER SOTTO SECONDA PARTE ***************/
#finalepartesx {
  width: 50%;
  float: left;
}

#finalepartedx {
  width: 50%;
  float: right;
  text-align: right;
}

#finalepartedx p {
  display: inline;
  padding: 0 10px;
}
